# No dot-directories except github/vscode
.*/
!.vscode/
!.github/

*.code-workspace
node_modules
nbproject

# Unneeded package files
yarn.lock
*.tgz

# Compiled source files
**/build
**/*.tsbuildinfo
*.map

# Windows stuff
Thumbs.db

/.test/